@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!--Superlady/Attend_kor-->
<style>
    a {
        color: #244ed4;
    }

    .superlady-logoimg {
        float: left;
        margin-right: 30px;
    }

    .superlady-head h2 {
        color: #fff;
        font-weight: bold;
        padding-top: 40px;
    }

    .superlady-btn {
        position: absolute;
        top: 21%;
        left: 45%;
    }

    .ui-selectmenu-menu {
        position: absolute;
        display: table;
        width: 80%;
        top: 45%;
        margin: 0 10%;
    }

    .nav2 li {
        display: table;
        width: 20%;
        float: left;
        position: relative;
        text-align: center;
    }

        .nav2 li a {
            color: #fff;
            font-size: 2.2rem;
            font-weight: bold;
        }

        .nav2 li:after {
            position: absolute;
            left: 20%;
            height: 5px;
            width: 60%;
            bottom: -100%;
            background: #fff;
            content: "";
            opacity: 0;
            transition: 0.8s;
        }

        .nav2 li:hover::after {
            opacity: 1;
        }

        .nav2 li:nth-child(2):after {
            opacity: 1;
        }

    .button {
        padding: 20px;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 240px;
        position: fixed;
        top: 15%;
        left: 38%;
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }

        .popup:target {
            visibility: visible;
            opacity: 1;
        }

        .popup img {
            width: 45px;
            margin-right: 10px;
        }

        .popup .close {
            position: absolute;
            top: 10px;
            right: 20px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover {
                color: #333;
            }

        .popup .content {
            max-height: 20%;
            overflow: auto;
        }

    .superlady-title {
        position: relative;
        margin: 0 0 30px;
        padding: 0;
        border-bottom: 1px solid #d8d8d8;
        font-size: 32px;
        clear: both;
    }

        .superlady-title span {
            display: inline-block;
            padding-bottom: 15px;
            text-transform: uppercase;
            border-bottom: 5px solid transparent;
            color: #333;
        }

        .superlady-title:after {
            position: absolute;
            left: 10%;
            transform: translateX(-50%);
            height: 5px;
            width: 20%;
            bottom: 0;
            background: #162541;
            content: "";
        }

    .superlady-schtit h4 {
        width: 25%;
        float: left;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

        .superlady-schtit h4:nth-child(2n-1) {
            color: #888;
        }

        .superlady-schtit h4:nth-child(2n) {
            color: #111;
        }

    .superlady-sch {
        letter-spacing: 1px;
        width: 25%;
        float: left;
        position: relative;
    }

        .superlady-sch:before {
            position: absolute;
            left: -3%;
            transform: translateX(-50%);
            height: 100%;
            width: 3px;
            bottom: 0;
            background: #162541;
            content: "";
        }

    @@media (max-width: 767px) {
        .superlady-head h2 {
            font-size: 2rem;
            padding-top: 20px;
        }

        .superlady-logoimg {
            width: 20%;
            margin-right: 10px;
        }

        .superlady-btn {
            left: 70%;
            top: 30%
        }

        .superlady-img {
            width: 27px;
        }

        .popup {
            top: 24%;
            left: 43%;
            width: 180px;
        }

            .popup img {
                width: 30px;
                z-index: 999999;
            }

            .popup .close {
                top: 5px;
                right: 10px;
            }

        .ui-selectmenu-menu {
            position: relative;
            display: block;
            width: 100%;
            margin: 0px;
        }

        .nav2 {
            display: block;
            text-align: center;
            background: #fff;
        }

            .nav2 li:first-child {
                border-top: solid 1px #ebebeb;
            }

            .nav2 li:last-child {
                border-bottom: solid 1px #ebebeb;
            }

            .nav2 li {
                display: block;
                width: 100%;
                padding: 10px 0;
            }

                .nav2 li a {
                    display: block;
                    font-size: 1.4rem;
                    color: #333;
                    width: 100%;
                    height: 100%;
                }

        .superlady-title {
            font-size: 26px;
        }

        .superlady-schtit h4 {
            width: 50%;
            float: left;
            font-size: 1.4rem;
        }

        .superlady-sch {
            float: none;
            width: 80%;
            margin-top: 15px;
            font-size: 1.4rem;
        }
    }
</style>
@Html.Partial("/Views/Layout/Header_ko.cshtml")
<section class="image-head-wrapper" style="background-image: url('/images/Background/Finalkor-back.jpg'); background-size: 100%; padding-top:3%">
    <div class="col-md-1">
    </div>
    <div style="margin:0 10px" class="superlady-head">
        <img src="/images/Finalkor/centerlogo.png" class="superlady-logoimg" />
        <h2>슈퍼레이디 코리아 어워즈</h2>
    </div>
    <div class="superlady-btn">
        <a href="https://www.facebook.com/SuperTalentOfficial/" style="float:left;">
            <img src="~/images/Finalkor/like.png" class="superlady-img" />
        </a>
        <a class="button" href="#popup1">
            <img src="~/images/Finalkor/share.png" class="superlady-img" />
        </a>
    </div>
    <div id="popup1" class="popup">
        <a class="close" href="#">&times;</a>
        <div class="content">
            <a href="https://www.facebook.com/SuperTalentOfficial/" target="_blank"><img src="~/images/sns1.png" class="superlady-img" /></a>
            <a href="https://www.instagram.com/misssupertalent/" target="_blank"><img src="~/images/sns2.png" class="superlady-img" /></a>
            <a href="https://www.youtube.com/channel/UCbe6_o-ULwZ_tznU0ot3X7Q" target="_blank"><img src="~/images/sns3.png" class="superlady-img" /></a>
        </div>
    </div>
</section>
<div class="ui-selectmenu-menu">
    <ul class="list-unstyled nav2">
        <li><a href="/Superlady/Index_ko">소개</a></li>
        <li><a href="/Superlady/Attend_ko">참가자격</a></li>
        <li><a href="/Superlady/Final_lady_ko">2019 수상자</a></li>
        <li><a href="/Superlady/Thal_ko">시상내역 ▪&nbsp;혜택</a></li>
        <li><a href="/Apply/Index_ko">참가신청</a></li>
    </ul>
</div>

<div class="row" style="margin:0;clear:both;">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="superlady-title"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></h2><br />
        <div class="col-md-12">
            <p style="font-size:1.6rem; line-height:2.6rem; width:85%; letter-spacing:1px;">
                슈퍼레이디는 패션에 엔터테인먼트를 크리에이티브하는 본연의 품격과 콘텐츠를 제작하기 위하여 참가자격에 대한 규정을 두고 있습니다.
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1" style="clear:both; margin:50px auto; ">
            <div style="padding:3%; font-size:1.6rem; line-height:3rem; letter-spacing:1px;">
                ▪&nbsp;  대한민국 국적을 가진 자로 28세 이상 기혼/돌싱/미혼여성<br />
                ▪&nbsp;  고등학교 졸업 이상 또는 이와 동등한 학력을 소지한 자<br />
                ▪&nbsp;  실제 신장 168cm 이상 (신장은 필수 조건이 아님)<br />
                ▪&nbsp;  대한민국 국적으로 해외여행에 결격 사유가 없는 자<br />
            </div>
        </div>
        <div class="col-md-12" style=" margin-bottom:5%;">
            <h4 class="superlady-title"><span>&nbsp;참가 신청</span></h4><br />
            <div class="col-md-10" style=" font-size:1.6rem; letter-spacing: 1px; line-height:3rem;">
                1. 온라인에서 '참가신청'<br />
                2. 홈페이지 내 ‘참가신청’에서 첨부파일 다운 받아, 이메일 artists@sutagroup.com 접수<br />
                이메일 접수  상반신, 전신 사진 첨부 제출
                <br /><br />
                문의 : 02 - 3444 – 7821 / 010 9964 3236 (슈퍼탤런트 오브 더 월드)  Kakao ID: <a href="https://www.nesthotel.co.kr/talk/kakao.asp">misssupertalent</a> <a href="https://biz.kt.com/html/sub/bz_3ca000.html" class="btn btn-primary" style="margin-left:40px;">상담신청</a>
            </div>
        </div>
    </div>
</div>
