@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header.cshtml")


<div class="container font-user">
    <div class="row font-user" style="margin:50px 0;">
        <div class="col-md-6">
            <p>
                <strong>SUPERLADY OF THE WORLD</strong> is an International fashion and beauty showcase for  age 28 + married, unmarried or single ladies which is a uniqueness of the golden age to participate in four continentals considered to be the most luxurious and foremost competition of its genre in the world.<br /><br />

                <strong>Superlady of the World 2019</strong> will be hosted PARIS NICE MILAN ROME which will be the first time in the history of any fashion, beauty and lifestyle showcase that preliminary events will be showcasing the 34 European cities in 3 weeks-long from FRANCE to Italy and final will take place at Grand Ballroom of Rome Cavalieri Waldorf Astoria on November 2nd 2019 which will be telecast globally to over 164 countries,<br /><br />

                Superlady of the World is a high-profile fashion and beauty media event participating star influencers of former beauty queen, top model, actress, pop artist, host with unique format showcasing fashion and talent. Superlady Fashion Week is a unit of Superlady preliminary.<br /><br />

                Each season, thousands of candidates across 160 countries participate in this extraordinary showcase that is launching a wave not just for a beauty showcase, but for a wave of Music, Fashion and Lifestyle Topics which is one of the most prestige next generation entertainment showcase.<br /><br />


            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="/images/Superlady/Superlady_intro.jpg" class="img-responsive" style="margin-bottom:20px" />
            <a href="https://www.facebook.com/superladyofficial/" target="_blank"><img src="/images/sns1.png" /></a>
        </div>
        <div class="col-md-12">
            <p>
                <strong>Contestant eligibility</strong><br />
                The eligible age-range for candidate is currently from twenty eight years old. The minimum height is 172 cm (5‘7"), most contestants are former title holder of grand-slam beauty pageants, supermodel or beauty of new artists.<br /><br />

                <strong>Selection process</strong><br />In the year preceding the global grand finals, each candidate must win her national title or casting call winner designated Superlady of the World national preliminary. This Super Series carefully selects local organizers to set up national competitions, select the top of top finalists from 164 countries.<br /><br />

                <strong>European round World Final</strong><br />Every Autumn round are hosted in Europe, where the finalists visit multiple entertainment and touristic cities to produce and distribute daily influencer contents worldwide which its kind of the world's first mobility pageant.<br /><br />
                <strong>Finals</strong><br />The finals are live broadcast in prime time over 200 million prospective viewers from 164 countries. Finalists usually work with a dance choreographer mentor related to the theme.<br /><br />
                <strong>Rewards for winner and finalists</strong><br />The pageant has changed traditional world pageant format. This new reward system also include job creation, apprenticeship, commercial film, talent grooming, influencer, youtuber etc.

            </p>
        </div>

        @*<div class="row col-md-12 text-center" style="margin-bottom:50px">
            <p style="margin:20px">
                <strong>
                    You can apply Miss Supertalent of the World from anywhere in the world
                </strong>

            </p>
            <a href="/Apply/Application" style="padding:7px 50px; font-size:1.2em" class="btn btn-primary">Apply</a>
        </div>*@

    </div>

</div>

<style>
    a {
        color: #244ed4;
    }


    @@font-face {
        font-family: 'GT Walsheim Regular';
        src: url('../../fonts/GT Walsheim Regular.ttf') format('truetype');
    }

    @@font-face {
      
            font-family: 'GT-Walsheim-Regular';
            src: url('../../fonts/GT-Walsheim-Regular.woff') format('woff');
        
    }

    .font-user {
        font-family: 'GT-Walsheim-Regular';
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
</style>

<script>
 
</script>