@{ Layout = null;}

<link href="/navi/css/components.css" rel="stylesheet" />
<link href="/navi/css/responsee.css" rel="stylesheet" />
<link href="/css/navi.css" rel="stylesheet" />

<script src="/navi/js/responsee.js"></script>
<header>
    <nav class="nav_cover">
        <div class="line">
            <div class="top-nav" style="font-weight:bold;">
                <div class="logo hide-l">
                    <a class="r_logo loading" style=" background:#fff;padding:0 10px;" href="/Home/Index"><img style="width:140px;position:relative;" src="/images/logo/supertalent_logo.png" /></a>
                    <p class="nav-text" style="margin:0"><i class="fas fa-bars" style="color:#333;"></i></p>
                </div>
                <div class="top-nav s-12">     
                    <ul class="responsive-none" style="margin-left:13%;">
                        <li style="padding:0;background:#fff">
                            <div class="r_logo" style=" background:#fff;padding:0 10px;">
                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="CO-HOSTED BY Fashion One | Based in New York, Fashion One is a global television network broadcasts more than 440 million households in 168 countries and bringing the channel to more than 1,3 billion people. programming related to fashion, entertainment and lifestyle internationally across multiple platforms." style="background:#fff;font-size:15px;">
                                    <img style="width:140px;position:relative;top:9px;" src="/images/logo/fashionone_logo.png" />
                                </button>
                            </div>
                        </li>
                        <li style="padding:0;">
                            <a class="r_logo loading" style=" background:#fff;padding:0 10px;" href="/Home/Index"><img style="width:140px;position:relative;top:16px" src="/images/logo/supertalent_logo.png" /></a>
                        </li>
                    </ul>
              
                    <ul class="top-ul chevron">

                        <li>
                            <a href="/Home/About" class="loading">ABOUT</a>
                        </li>
                        <li>
                            <a href="/Home/Season_13" class="loading">2019 SEASON 13</a>
                        </li>
                        <li style="position:relative">
                            <a href="#">SUPERTALENT <i class="fas fa-chevron-circle-down"></i></a>
                            <ul style="width:100%;">
                                <li>
                                    <a href="/Finalists/Models?cate=1&season=13" style="font-size:0.9em;text-align:center">FINALISTS</a>
                                </li>
                                <li>
                                    <a href="#" style="font-size:0.9em;text-align:center">MANAGEMENT</a>
                                </li>

                            </ul>
                        </li>
                        <li style="position:relative">
                            <a href="/Shop/Product" class="loading">STORE </a>
                        </li>
                        <li>
                            <a href="/Superlady/Intro" class="loading">SUPERLADY</a>
                        </li>
                        <li style="position:relative">
                            <a href="/Partners/Index" class="loading">PARTNERS </a>
                        </li>
                        <li style="position:relative">
                            <a href="#" class="loading">COMMUNITY <i class="fas fa-chevron-circle-down"></i></a>
                            <ul style="width:100%;">
                                <li>
                                    <a class="loading" style="font-size:0.9em;text-align:center" href="/board/Board_List?CATE=7&language=english">Notice</a>
                                </li>
                                <li>
                                    <a class="loading" style="font-size:0.9em;text-align:center" href="/board/Board_List?CATE=9&language=english">News</a>
                                </li>
                                <li>
                                    <a class="loading" style="font-size:0.9em;text-align:center" href="/board/Board_List?CATE=10&language=english">Event</a>
                                </li>
                            </ul>
                        </li>

                        @if (User.Identity.IsAuthenticated == true)
                        {
                            if (Request.Cookies["user_level"].Value == "9")
                            {

                                <li><a href="/Admin/Product_list">관리자<i class="fas fa-cog"></i></a></li>
                            }
                            else
                            {

                            }
                        }
                        <li>
                            @{ if (User.Identity.IsAuthenticated == false)
                                {
                                    <div>
                                        <a href="/Home/Login" style="font-size:0.9em; ">LogIn</a>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <a href="/Home/Logout" style="font-size:0.9em;">LogOut</a>
                                    </div>
                                }
                            }
                        </li>


                        <li style="background:none; margin-top:10px;">
                            <select style="height:30px; font-size:12px;" id="sel_lang" onchange="change_lang()" class="form-control">
                                <option value="en">English</option>
                                <option value="ko">한국어</option>
                            </select>
                        </li>
                    </ul>
                    
                    </div>
                </div>
                @*<ul class="s-12 l-2" style="margin:0">
                    <li class="logo hide-s hide-m">
                        <a href="/Home/Index">SUPER <br /><strong>TALENT</strong></a>
                        <img style="width:160px" src="~/images/logo/supertalentlogo.png" />
                    </li>
                </ul>
                <div class="top-nav s-12 l-5">
                    <ul class="top-ul chevron" style="margin:0">
                        <li>
                            <a href="/Partners/Index">PARTNERS</a>
                        </li>
                        <li>
                            <a href="/Collaboration/Index">COLLABORATION</a>
                        </li>
                        <li>
                            <a href="/Superlady/Intro">SUPERLADY</a>
                        </li>
                        <li>
                            <a href="/Shop/Index">STORE <i class="fas fa-chevron-circle-down"></i></a>
                            <ul>
                <li>
                    <a>Company 1</a>
                </li>
                <li>
                    <a>Company 2</a>
                </li>
                <li>
                    <a>Company 3</a>
                </li>
            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            if (Request.Cookies["user_email"].Value == "youngh0724@naver.com")
                            {

                                <li><a href="/Admin/Product_list">관리자<i class="fas fa-cog"></i></a></li>
                            }
                            else
                            {

                            }
                        }

                        <li>
                            <select id="sel_lang" onchange="change_lang()" class="form-control">
                                <option value="en">English</option>
                                <option value="ko">한국어</option>
                            </select>
                        </li>
                        <li>
                            @{ if (User.Identity.IsAuthenticated == false)
                                {
                                    <div style="margin:2px;">
                                        <a class="book-now-btn" href="/Home/Login" style="font-size:0.9em; color:white">LogIn</a>
                                    </div>
                                }
                                else
                                {
                                    <div style="margin:2px">
                                        <a class="book-now-btn" href="/Home/Logout" style="font-size:0.9em; color:white">LogOut</a>
                                    </div>
                                }
                            }
                        </li>
                    </ul>
                   
                </div>*@
                <div class="col-md-1 col-sm-4 col-xs-12 hidden-sm">
                    
                </div>
            </div>
        
        
    </nav>
</header>

<style>
 
</style>