@model IEnumerable<supertalentoftheworld.Models.TG_Image>

<link href="/Content/common/normalize.css" rel="stylesheet" />
<link href="/Content/common/ideal-image-slider.css" rel="stylesheet" />
<link href="/Content/common/default.css" rel="stylesheet" />
@Html.Partial("/Views/Layout/Header_admin.cshtml")
<div class="container">

    <h2 style="text-align:center; margin:50px;">Product Slide Image Add</h2>
    <div class="item col-md-8 col-md-offset-2 col-sm-12" style="margin-bottom:50px;">
        <div class="clearfix" style="max-width:100%;">
            <div id="slider" style="max-height:450px;">
                @foreach (var item in Model)
                {
                    <img src="@item.ImagePath" data-src-2x="img/1@2x.jpg" />
                }
            </div>
        </div>
    </div>


    <hr />

    <div class="note row">
        <form action="/Admin/Product_Img_Setting" method="post" enctype="multipart/form-data">
            <div class="col-lg-12" style="display:none">
                <input class="" type="text" id="id" name="id" value="@ViewBag.TG.id">
            </div>

            <div class="col-lg-4 col-lg-offset-3" style="margin-bottom:20px">
                <input class="" type="file" id="Product_img" name="ImageFile" accept="image/*">
            </div>
            <div class="col-lg-12 text-center" style="margin-bottom:50px">
                <button class="btn-success" style="padding:10px; border:none;" type="submit">Add Image</button>
                <a href="/Admin/Product_list" class="btn-primary" style="padding:10px; border:none;">&larr;Back to Product List</a>
            </div>
        </form>
    </div>

</div>
<style>
</style>

<script src="/Content/common/ideal-image-slider.min.js"></script>

<script>

    var slider = new IdealImageSlider.Slider('#slider');
    slider.start();



</script>
