
<div id="BoardAdmin">
    @Html.TextBox("boardid", "", new {placeholder = "아이디"})
    @Html.Password("boardpw", "", new {placeholder = "비밀번호"})

</div>
<div>
    <span onclick=" GetBoardAdmin() ">로그인</span>
</div>

<script>
    function GetBoardAdmin() {
        var boardid = $('#boardid').val();
        var boardpw = $('#boardpw').val();

        $.post("/Board/BoardAdmin", { id: boardid, pw: boardpw }, CheckBoardAdmin);
    }


    function CheckBoardAdmin(result) {
        if (result == "success") {
            alert("환영합니다 관리자님");


            window.close();
        }
    }
</script>