@{
    Layout = null;
}

<!-- 페이징 처리 -->

@{
    int totalcnt = ViewBag.totalcnt;
    int takecnt = ViewBag.takecnt;
    int nowpage = ViewBag.nowpage;

    //표시할 페이지의 총 수가 된다
    int pageTotalcnt = totalcnt/takecnt;


    int firtstnm = (nowpage/10)*10;
    int lastnm = firtstnm + 10;

}
<div>    
    <ul class="paging">
        <!-- 이전 버튼 -->
        @if (firtstnm >= 10)
        {
            <li><span onclick=" goNextPage(@firtstnm - 1) ">이전</span></li>
        }
        @for (int i = firtstnm; i < lastnm; i++)
        {
            if (nowpage == i)
            {
                <li><span class="nowpage">@(i + 1)</span></li>
            }
            else
            {
                <li><span onclick=" goNextPage(@i) ">@(i + 1)</span></li>
            }

            if (i == pageTotalcnt)
            {
                break;
            }
        }
        <!-- 다음 버튼 -->
        @if (lastnm < pageTotalcnt)
        {
            <li><span onclick=" goNextPage(@lastnm) ">다음</span></li>
        }

    </ul>
</div>
<div style="clear: both"></div>
<script type="text/javascript">
    function goNextPage(pagenm) {
        location.href = '@ViewBag.BoardUrl' + '?page=' + pagenm + '&board_no=@Request["board_no"]';
    }
</script>