@using SmartFactory.Controllers
@{
    Layout = null;

    pagination pg = ViewBag.pagination;
    string cate = Request["cate"] ?? "1";

    string search_all_type = Request["search_all_type"] ?? "";

    string search_all = Request["search_all"] ?? "";

}

<ul class="pagination">
    @for (int i = 0; i < pg.totalpagecount; i++)
    {
        string active = "";
        int thispage = string.IsNullOrEmpty(Request["page"]) ? 0 : Convert.ToInt32(Request["page"]);

        if (thispage == i)
        {
            active = "active";
        }

        <li class="@active"><a href="?page=@i&cate=@cate&search_all_type=@search_all_type&search_all=@search_all">@(i + 1)</a></li>
    }
</ul>

<style>
    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: #89229b;
        border-color: #ddd; 
    }

    .pagination {
        padding: 0;
        margin: 0;
      
    }
    .pagination > li > a, .pagination > li > span {
        color: #444;
    }

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover { color:#ff6a00; }



        .pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
            background-color: #fff;
            color: #333;
        }


</style>