 
@{ 
    string url_chck = Request.Url.AbsolutePath;

    string url_chck_index = url_chck.Substring(url_chck.Length-1);


}
<style>
    .show_1{ display:none ; }
    .show_2 {
        display: none;
    }
    .show_2_only {
        display: none;
    }
    .show_3 {
        display: none;
    }
    .show_3_only {
        display: none;
    }

</style>
<script type="text/javascript">
    $(document).ready(function () {

        var url_name = "@url_chck_index";      

        if (url_name == "9") {
            $(".show_1").css("display", "block");
            $(".show_2").css("display", "block");
            $(".show_3").css("display", "block");
        }
        else if (url_name == "5") {
            $(".show_2").css("display", "block");
            $(".show_3").css("display", "block");

        }
        else if (url_name == "2") {
            $(".show_3").css("display", "block");
            $(".show_2_only").css("display", "block");

        }

        else if (url_name == "8") {
            $(".show_3_only").css("display", "block");

        }


});
</script>

<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">포함사항</h4>
    </div>
    <div class="col-md-9">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000;">
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;왕복 항공권 포함</p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">&nbsp;-&nbsp;유류할증료 및 각종 TAX(왕복공항세,전쟁보험료,관광진흥개발기금 등) 포함</p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;전 일정 숙박 비용 (성인 2인 1실 기준)</p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;일정표 상의 관광지 입장료 및 식사</p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;일정 중 차량 및 기사</p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;1억원 여행자 보험 </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;기사/가이드 팁  </p>
            <p class="show_1" style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;세느강 유람선 </p>
            <p class="show_3" style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;베니스 곤돌라 등 각종 선택관광 </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;동양 최대 피부과 오라클 제공 30만원 상당 코스메틱 세트 </p>
            <p class="show_2" style="margin-bottom: 0px; color: rgb(43, 43, 43);"> ㆍ&nbsp;슈퍼탤런트 각종 패션쇼, 워크삽 10회 참관</p>
            <p class="show_2_only" style="margin-bottom: 0px; color: rgb(43, 43, 43);"> ㆍ&nbsp;슈퍼탤런트 각종 패션쇼, 워크삽 7회 참관</p>
            <p class="show_3_only" style="margin-bottom: 0px; color: rgb(43, 43, 43);"> ㆍ&nbsp;슈퍼탤런트 각종 패션쇼, 워크삽 4회 참관</p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">
                ㆍ&nbsp;슈퍼탤런트 세계결선 디너 및 입장권
            </p>

        </div>
    </div>
</div>
<hr />

<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">불포함사항</h4>
    </div>
    <div class="col-md-9">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000;">

            <p><span style="color: rgb(43, 43, 43);">ㆍ&nbsp;기타 개인경비 / 통상적 매너팁</span><br></p>
        </div>
    </div>
</div>
<hr />

<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">유의사항</h4>
    </div>
    <div class="col-md-9">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000;">
            <p><span style="color: rgb(43, 43, 43);">ㆍ&nbsp;어린이(만12세미만)요금, 성인과 한방 사용 비용: 판매가에서 30% 할인</span><br></p>
            <p>
                <span style="color: rgb(43, 43, 43);">
                    ㆍ&nbsp;여권 유효기간은 6개월 이상 남아 있어야 합니다.
                </span><br>
            </p>
        </div>
    </div>
</div>
<hr />

<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">예약안내</h4>
    </div>
    <div class="col-md-10">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000;">
            <p><span style="color: rgb(43, 43, 43);">ㆍ담당자가 예약확정 여부를 문자로 알려드립니다.</span><br></p>
            <p><span style="color: rgb(43, 43, 43);">ㆍ&nbsp;출발조건</span><br></p>
            &nbsp;-&nbsp;출발 100% 확정<br>
            <p><span style="color: rgb(43, 43, 43);">ㆍ&nbsp;해피콜 후 예약 확정</span><br></p>
            &nbsp;-&nbsp;해피콜 후 예약이 확정된 상품으로 결제완료 후에도 선택 날짜의 상품이 마감되거나 <br />&nbsp; &nbsp; 추가 요금이 발생할 수 있으며 예약불가 시 100% 환불해드립니다.<br />
            &nbsp;-&nbsp;결제 완료 후 48시간 이내(영업일 기준) 여행사에서 해피콜이 진행되며 상황에 따라 지연될 수 있습니다.<br>
            &nbsp;-&nbsp;지속적으로 연락이 되지 않을 경우 예약이 캔슬 될 수 있습니다.<br /><br>
            <p><span style="color: rgb(43, 43, 43);">ㆍ&nbsp;문의전화 : 02-3444-7821</span><br /></p>
            <p>
                <span style="color: rgb(43, 43, 43);">
                    ㆍ&nbsp;고객센터 문의시간 : 평일 09:00~18:00 (단, 토/일, 공휴일은 휴무)
                </span><br />
            </p>

        </div>
    </div>
</div>
<hr />


<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">숙박안내</h4>
    </div>
    <div class="col-md-10">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000">
            <div class="show_1" style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">파리</span> :<a href="https://www.accorhotels.com/gb/hotel-0771-ibis-paris-la-defense-centre/index.shtml" target="_blank" style="color:#0080ff">"이비스 라데팡스 센터"</a> |  등급 : 3성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 50,000원</div>
            <div class="show_1" style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">마르세이유</span> :<a href="https://www.accorhotels.com/gb/hotel-0444-novotel-marseille-east/index.shtml" target="_blank" style="color:#0080ff">"노보텔 마르세이유 이스트"</a> |  등급 : 4성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 50,000원 </div>
            <div class="show_2" style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">니스</span> : <a href="https://hotel-soco.com/" target="_blank" style="color:#0080ff">"소 코 바이 해피컬쳐"</a> |  등급 : 3성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 50,000원 </div>
            <div class="show_3"  style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">밀라노</span> : <a href="https://www.ripamontiresidencehotel.com/" target="_blank" style="color:#0080ff">"리파몬티 레지던스 호텔 밀라노"</a> |  등급 : 4성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 50,000원</div>
            <div  class="show_3" style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">베니스</span> : <a href="http://www.cadelmorovenice.com/" target="_blank" style="color:#0080ff">"카 델 모로"</a> |  등급 : 4성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 50,000원 </div>
            <div  class="show_3" style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">피사</span> : <a href="http://www.mediturhotelpisa.it" target="_blank" style="color:#0080ff">"메디투르 피사"</a> |  등급 : 4성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 50,000원 </div>
            <div style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">소렌토</span> :<a href="https://www.grandhotelflora.it/" target="_blank" style="color:#0080ff">"그랑 호텔 플로라"</a> |  등급 :4성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 60,000원</div>
            <div style="color: rgb(43, 43, 43);">ㆍ&nbsp; <span style="font-weight:bold ">로마</span> :<a href="https://www.bluhotelrome.it/en/home-page.aspx" target="_blank" style="color:#0080ff">"베스트 웨스턴 블루 로마"</a> |  등급 : 4성급,  룸타입 : 스탠다드룸(성인 2인 1실 기준),  1인 싱글 룸 사용시 : 60,000원</div>

            <div style="text-indent:20px">※ 호텔은 부득이한 경우 동급의 다른 호텔로 변동 될 수 있습니다.</div>
        </div>
    </div>
</div>
<hr />


<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">취소 수수료 안내</h4>
    </div>
    <div class="col-md-10">
        <div style="font-size:15px; letter-spacing:-0.7px; line-height:1.6em; color:#333;">
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">
                ㆍ&nbsp; 본 상품은 특가상품으로 항공, 호텔, 각종 현지 공급사 등과의 특가 조건에 따라 아래와 같이 취소료가 발생됩니다. <br />
                &nbsp;&nbsp;단 여행사의 귀책사유로 여행 출발이 취소되는 경우에는 아래 규정에 근거해고객에게 100% 환불 및 위약금을 배상합니다.
            </p><br><br>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;배상금 & 취소 수수료율 안내  </p>
            &nbsp;-&nbsp;여행개시 60일 전까지 통보 : 총 상품 가격의 90% 환급<br>
            &nbsp;-&nbsp;여행개시 30일 전까지( ~ 30) 통보 : 총 상품 가격의 50% 환급<br>
            &nbsp;-&nbsp;여행개시 20일 전까지(29 ~ 20) 통보 : 총 상품 가격의 40% 환급<br>
            &nbsp;-&nbsp;여행개시 10일 전까지(19 ~ 10) 통보 : 총 상품 가격의 20% 환급<br>
            &nbsp;-&nbsp;여행개시 8일 전까지( 9 ~ 8) : 통보 : 총 상품 가격의 10% 환급<br>
            &nbsp;-&nbsp;여행개시 1일 전까지( 7 ~ 1) 통보 : 총 상품 가격의 10% 환급<br>
            &nbsp;-&nbsp;여행 당일 통보 시 : 총 상품 가격의 10% 환급<br>
        </div>
    </div>
</div>
<hr />

<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">취소 유의사항</h4>
    </div>
    <div class="col-md-9">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000;">
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;취소 수수료는 총 결제금액 기준으로 책정됩니다.   </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;영업일 기준, 주말(토, 일요일) 및 공휴일 취소 가능일에서 제외. <br />&nbsp;(취소가능일은 영업일 기준으로 산정되며, 주말과 공휴일은 제외됩니다.)   </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;영업일 기준 17시 이후, 주말/공휴일 취소 시 다음 정상 영업일 취소 규정 적용.   </p>

        </div>
    </div>
</div>
<hr />

<div class="row box" style="margin:3%;">
    <div class="col-md-2">
        <h4 class="s_title">판매자 정보</h4>
    </div>
    <div class="col-md-9">
        <div style="font-size:15px; letter-spacing:0.7px; line-height:2em; color:#000;">
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;상호/대표자 :   ㈜수타그룹 / 최영철 </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;사업장 소재지 :   서울 광진구 광나루로 590, 대한민국 / 20 Science Park Road, Singapore </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;이메일  :   trip@sutagroup.com </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;연락처  :   02-3444-7821 </p>
            <p style="margin-bottom: 0px; color: rgb(43, 43, 43);">ㆍ&nbsp;사업자번호 :  602-87-00127 </p>
        </div>
    </div>
</div>
<hr />
