
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header.cshtml")
<style>
    .dsel {
        cursor: pointer;
        display: table;
        font-size: 3rem;
        font-weight: bold;
        line-height: 6rem;
        transition: 0.6s;
    }

    .tsel {
        font-size: 4rem;
    }

    li {
        line-height: 3rem;
    }

    .dsel a {
        color: #333;
    }

    a {
        color: #244ed4;
    }
</style>

<div style="margin-bottom:50px">
    <section class="image-head-wrapper" style="background-image: url('/images/Background/Sitemap-back.jpg'); background-size: 100%; position: static; background-attachment: fixed; overflow: hidden;">
        <div class="inner-wrapper">
            <h1 class="in-img-text">Cookie Policy</h1>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
<div class="row" style="margin:0">
    <div class="col-md-offset-1 col-md-2">
        <div class="row tabmenu">
            <div id="0" class="dsel">
                <a href="/Sitemap/Privacy">·&nbsp; Privacy Policy</a>
            </div>
            <div id="1" class="dsel">
                <a href="/Sitemap/Terms">·&nbsp; Terms Of Use</a>
            </div>
            <div id="2" class="dsel tsel">
                <a href="/Sitemap/Cookie">·&nbsp; Cookie Policy</a>
            </div>
        </div>
    </div>
    <div class="col-md-7" style="font-size:1.6rem; line-height:2.4rem; letter-spacing:1px; word-break:keep-all; margin-bottom:50px;">
        <i>The term “cookies” used herein, refers to cookies and other similar technologies covered by the International Directive on privacy in electronic communications.</i><br /><br />

        Find out more about our Privacy Policy.<br /><br />

        <h3>What is a cookie?</h3><br />
        Cookies are small data files that your browser or application places on your computer or mobile device. Cookies assist your browser or application navigate a website. Cookies themselves cannot collect any information stored on your device.<br /><br />
        We use cookies to reduce the number of times you need to enter your password. Cookies help us provide to you with information targeted in accordance to your interests, and to make your browsing experience as smooth as possible. We may offer features that are only available through the use of a cookie.  Other types of cookies are used to monitor and improve our website’s functionality and performance.  To protect your privacy, your browser only gives a website access to the cookies it has already sent to you.<br /><br />

        <h3>Why do we use cookies?</h3><br />
        SUPERTALENT continually strives to provide you with the best user experience possible when visiting its sites. Therefore, we use cookies to learn more about the way you interact with our content and help us to improve your experience when visiting us.<br /><br />
        Cookies remember the type of browser you use and which additional browser software you have installed. They also remember your preferences, such as language and region, which remain as your default settings when you revisit the website. Cookies also allow you to rate pages and fill in comment forms.<br /><br />
        Some of the cookies we use are session cookies and only last until you close your browser, others are persistent cookies which are stored on your computer or device for longer.<br /><br />

        <h3>How are third party cookies used?</h3><br />
        For some of the functions within our websites we use third party suppliers. You may wish to consult the policies of these third party websites for information regarding their use of cookies.<br /><br />

        <h3>How do I reject and delete cookies?</h3><br />
        We assume your consent to SUPERTALENT’s use of cookies when you visit and use its sites and most browsers are automatically set to accept cookies. You can modify your browser to decline cookies (if your browser permits you to do so), although in such a case you may not be able to access certain features on SUPERTALENT’s sites or some interactive features offered on SUPERTALENT’s site may be restricted or rendered inoperable. Should you wish, you can reject or block the cookies set by SUPERTALENT or the websites of any third party suppliers by changing your browser settings – see the Help function within your browser for further details.<strong><i>Please Note: if you reject SUPERTALENT’s use of cookies you will still be able to visit its sites but some of the functions may not work correctly.</i></strong><br /><br />

        For details on how to delete or reject cookies and for further information on cookies generally, please visit<a href="https://www.allaboutcookies.org">www.allaboutcookies.org.</a><br /><br />

        © 2016 Supertalent World Group Inc.

    </div>
</div>
