
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header.cshtml")
<style>
    .dsel {
        cursor: pointer;
        display: table;
        font-size: 3rem;
        font-weight: bold;
        line-height: 6rem;
        transition: 0.6s;
    }

    .tsel {
        font-size: 4rem;
    }

    li {
        line-height: 3rem;
    }

    .dsel a {
        color: #333;
    }

    a {
        color: #244ed4;
    }
</style>

<div style="margin-bottom:50px">
    <section class="image-head-wrapper" style="background-image: url('/images/Background/Sitemap-back.jpg'); background-size: 100%; position: static; background-attachment: fixed; overflow: hidden;">
        <div class="inner-wrapper">
            <h1 class="in-img-text">Terms Of Use</h1>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
<div class="row" style="margin:0">
    <div class="col-md-offset-1 col-md-2">
        <div class="row tabmenu">
            <div id="0" class="dsel">
                <a href="/Sitemap/Privacy">·&nbsp; Privacy Policy</a>
            </div>
            <div id="1" class="dsel tsel">
                <a href="/Sitemap/Terms">·&nbsp; Terms Of Use</a>
            </div>
            <div id="2" class="dsel">
                <a href="/Sitemap/Cookie">·&nbsp; Cookie Policy</a>
            </div>
        </div>
    </div>
    <div class="col-md-7" style="font-size:1.6rem; line-height:2.4rem; letter-spacing:1px; word-break:keep-all; margin-bottom:50px;">
        <h3>Legal Notices</h3><br />
        The Legal Notices should be read as a whole. Certain words as used in the Legal Notices and elsewhere on this website, in emails and in other materials are to have the meanings assigned here.<br /><br />

        <h3>Terms and conditions of use</h3><br />
        Your use of this website shall be subject to the terms and conditions that appear on the Legal Notices pages or elsewhere on this website. We reserve the right to vary or alter such terms and conditions from time to time. Any such change shall take effect upon posting to this website.<br /><br />

        <h3>Your use</h3><br /><br />

        By accessing this website, you agree:<br /><br />
        <ul>
            <li>
                that you will access its contents solely for your own private use or for the purposes of the legitimate business of your employer, but in either case for the factual material in the website content concerning the company or generally and not for reliance on any points of law;
            </li>
            <li>
                not to copy, amend, reproduce or distribute the content, or disclose the content to third parties, other than in compliance with our Copyright and Reproduction Notices.
            </li>
            <li>
                to comply with all applicable laws and regulatory requirements relating to your use of this website;
            </li>
            <li>
                to comply with all reasonable instructions we give you relating to this website;
            </li>
            <li>
                not to use this website to distribute any information or data in contravention of any regulation or legislation (including, but not limited to, regulation or legislation governing financial services, money laundering or anti-terrorism);
            </li>
            <li>
                not to advertise or sell any goods or services to other users of this website; and
            </li>
            <li>
                not to benefit commercially from website content.
            </li>
            <li>
                you are responsible for all telecommunications charges relating to your use of this website.
            </li>
        </ul>
        <br />

        <h3>Material provided by you</h3><br />
        You agree to ensure that all material you send or upload to this website (including, but not limited to, e-mails, text, graphic files, still or moving images, or responses to any questionnaire available through this website) (“<strong>your material</strong>“) is legal, not offensive, decent and truthful, complies with all laws and regulations, does not infringe the Intellectual Property Rights or other rights of us or any third party, is not defamatory, unreliable or misleading or otherwise objectionable and is free of bugs, worms or viruses.<br /><br />
        You are solely responsible for your material. If we consider that any part of your material exposes us to the risk of a claim or complaint by a third party, we may block access to all or part of this website and remove all or part of your material. You must provide all reasonable assistance in this respect.<br /><br />
        You agree not to use this website to advertise or sell any goods or services to other users of this website. You agree not to publish any information or personal data relating to a third party in your material.<br /><br />

        <h3>Material provided by third parties</h3><br />
        Where any non-SUPERTALENT company is identified on this website in relation to specific content, either on an item by item basis or in general terms, then each such other company is alone responsible for such other company’s content, and SUPERTALENT does not have any responsibility in respect of it, except to the extent that such exclusion is prohibited by law – see below.<br /><br />
        Nothing in this website is to be taken to constitute a partnership between any such other company and SUPERTALENT, nor constitute either such other company or SUPERTALENT the agent of the other for any purpose.<br /><br />

        <h3>Intellectual property rights</h3><br />
        We (or our suppliers or third parties who have granted us permission to reproduce their material on this website) own all Intellectual Property Rights in the website content. Nothing in the Legal Notices gives you any right, title or interest in the website content or this website and you do not acquire any such right, title or interest through your use of the website. If you need third party software to use this website, you agree to obtain a license of that software at your own expense or that of your employer.  Please also read the Copyright and Reproduction Notices which apply to the website content.<br /><br />

        <h3>No guarantee or warranties</h3><br />
        We cannot guarantee that this website will operate in accordance with your expectations or will be error free. We may update this website time to time and we reserve the right to modify, restrict access to or close this website at any time.<br /><br />
        We give no express or implied representation or warranty (whether statutory or otherwise) in respect of this website or the website content (including, without limitation, as to their condition, satisfactory quality, performance, fitness for purpose or that it is up to date) and all such representations and warranties are excluded, except to the extent that their exclusion is prohibited by law – see below.<br /><br />

        <h3>Disclaimer of liability</h3><br />
        This site is for information purposes and is not an advertisement. Nothing on this site constitutes a binding offer to give any transactional advice or perform any other service in any jurisdiction. Nor does any person accessing, or acting on, our website content of itself imply any duty of care being assumed in any jurisdiction on the part of SUPERTALENT toward such person, or any other duty of the kind owed by the company to third parties. SUPERTALENT disclaims all liability accordingly.<br /><br />
        The website content on this website gives general information only as at its stated date or, if none, the date of first publication as, for example, the law may have changed in the meantime. Furthermore, it is not intended to give a comprehensive analysis on any subject. Such website content should not be used as a substitute for legal or other professional advice, which should be obtained in specific circumstances. No warranty or representation is given that such website content is free from inaccuracies or omissions, or that it is up to date.<br /><br />
        This website contains links to other websites and to website content on such other websites. These links are provided for convenience only, and do not imply affiliation with or endorsement by SUPERTALENT. We do not monitor or maintain these linked websites. SUPERTALENT is not responsible for the operation of, or for website content on, any such other website, or for the operation of, or for website content on, any site through which you may have gained access to our site. Please read all copyright and legal notices on each linked website before downloading or printing items to ensure that you are permitted to do so under the third party site’s copyright notices, legal notices or terms of use.<br /><br />
        Therefore SUPERTALENT assumes no responsibility for any loss or damages in respect of this website or any such other website and so disclaims all liability accordingly. Furthermore, SUPERTALENT assumes no responsibility for any loss or damages that may be caused to any equipment or software owing to any viruses, defects or malfunctions in connection with accessing or using this website, your material or the website content.<br /><br />
        Additionally, SUPERTALENT has an interest in limiting the personal liability of SUPERTALENTindividuals. Users of this website shall not be entitled to make any claim personally against any SUPERTALENT individual in respect of relevant loss or damage and, on behalf of such SUPERTALENT individuals, all such liability is disclaimed accordingly.<br /><br />
        Our liability to you in connection with this website (whether arising from negligence, breach of contract or otherwise) is only to take such actions as are reasonably required (in our sole discretion) in order to remove or delete data entered in error, or remove or delete data that is the subject of dispute, or correct data entered in error.<br /><br />
        Any disclaimers or limitations of liability on this site shall apply to the fullest extent permitted by law in any jurisdiction in respect of relevant loss or damage in respect of this website or any such other web site, but nothing in Legal Notices excludes or limits our liability for fraud or reckless disregard of professional obligations or for death or personal injury arising from our negligence or that of a SUPERTALENT individual or that of our agents or subcontractors or for any other matter in respect of which liability cannot be excluded or restricted by applicable laws or regulations.<br /><br />
        Nothing in these terms shall operate to exclude or restrict liability based on fraud or reckless disregard of professional obligations or any other liability that cannot be excluded or restricted by applicable laws or regulations.<br /><br />

        <h3>No unsolicited marketing emails</h3><br />
        Email addresses are provided on this website for the purpose of pursuing the business of SUPERTALENT. By accessing this site you agree not to send unsolicited emails for advertising, market research or illegal or immoral purposes to the email addresses provided. Unsolicited e-mails to SUPERTALENT will not be considered confidential, may be disclosed to others, may not receive a response, and do not create a lawyer-client relationship with SUPERTALENT.<br /><br />

        <h3>Exercise of rights</h3><br />
        Our rights under these terms of use and other pages of the Legal Notices:<br /><br />
        <ul>
            <li>
                may be exercised as often as necessary;
            </li>
            <li>
                are cumulative and not exclusive of rights or remedies provided by law; and
            </li>
            <li>
                may be waived only in writing and specifically.
            </li>
        </ul>
        <br /><br />
        Delay in the exercise or non-exercise of any such right is not a waiver of that right.<br /><br />
        A failure by you or us to enforce a provision of the Legal Notices or a breach of a provision by the other or default by the other in performing a provision does not constitute a waiver and does not prevent you or us from subsequently enforcing that provision or from acting on such breach or a subsequent breach of the provision by the other party or default by the other party in performing that provision.<br /><br />

        <h3>Invalidity</h3><br />
        If a provision of these terms of use or of another page of the Legal Notices is or becomes illegal, invalid or unenforceable in any jurisdiction, that does not affect:<br /><br />
        <ul>
            <li>
                the legality, validity or enforceability in that jurisdiction of any other provision of these terms of use or of another page of the Legal Notices; or
            </li>
            <li>
                the legality, validity or enforceability in other jurisdictions of that or any other provision of these terms of use or of another pages of the Legal Notices.
            </li>
        </ul>
        <br /><br />

        <h3>No partnership or agency</h3><br />
        Nothing in the Legal Notices is to be taken to constitute a partnership between you and us, nor constitute either of you or us the agent of the other for any purpose.<br /><br />

        <h3>Third party rights</h3><br />
        The rights and protections afforded to SUPERTALENT under these terms of use and elsewhere on the Legal Notices pages shall be deemed to be afforded to, and enforceable also by, each SUPERTALENT entity and eachSUPERTALENT individual.  Otherwise, a person who is not a user of this website and so a party to the Legal Notices may not enforce any of the terms under the Contracts (Rights of Third Parties) Act, Chapter of South Korea.<br /><br />

        <h3>Governing law and jurisdiction</h3><br />
        Any dispute or claim between you and SUPERTALENT arising out of or in connection with this website or its subject matter (whether allegedly contractual or non-contractual disputes and claims) shall be governed by and construed in accordance with South Korea law. Users of this website do so on the basis that they thereby submit to the non-exclusive jurisdiction of the South Korea courts for the purpose of any such dispute or claim.<br /><br />

    </div>
</div>
