@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header_ko.cshtml")

<!--Shop/Brochures-->
<section class="image-head-wrapper" style="background-image: url('/images/Background/Brochures-back.bmp'); background-size:cover;">
    <div class="inner-wrapper">
        <h1 class="in-img-text">Brochures</h1>
    </div>
</section>

<div>
    <div class="row" style="margin:0">
        <section class="gallery-block gallery-front;" style="padding:30px; background-color:#f2f2f2">
            <h2 style="font-weight:bold; margin-top:30px; text-align:center">
                LUXURY TRAVEL WITH 360 ENTERTAINMENT
            </h2><br />
            <div class="container">
                <h4 style="font-weight:bold; color:#ff4157; text-align:left; text-decoration:underline; margin-left:15px;">
                    오리지널
                </h4><br />
                <div class="row" style="margin:0">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 런던-로마 21일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/01. 마이럭셔리 유럽 런덩_로마.jpg">
                        </div>
                        <div>
                            <a href="/upload/01_My_Luxury_Europe_20Days_[London_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 파리-로마 19일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/02. 마이럭셔리 유렵 파리_로마.jpg" ">
                        </div>
                        <div>
                            <a href="/upload/02_My Luxury_Europe_18Days_[Paris_Rome]kr" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 마르세이유-로마 17일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/03. 마이럭셔리 유럽 마르세유_로마.jpg">
                        </div>
                        <div>
                            <a href="/upload/03_My_Luxury_Europe_16Days_[Marseille_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 니스-로마 15일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/04 마이럭셔리 유럽 니스_로마.jpg">
                        </div>
                        <div>
                            <a href="/upload/04_My_Luxury_Europe_14Days_[Nice_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 밀란-로마 12일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/05. 마이럭셔리 유럽 밀란_로마.jpg">
                        </div>
                        <div>
                            <a href="/upload/05_My_Luxury_Europe_11Days_[Milan_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 이탈리아 8일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/06. 마이럭셔리 유럽 이탈리아.jpg">
                        </div>
                        <div>
                            <a href="/06_My_Luxury_Europe_7Days_[Rome_South Italy_Capri]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div style="margin-top:140px;">
                            <a style="color:white" class="book-now-btn" href="/Shop/Index"><i class="fa fa-arrow-left"></i>&nbsp;구매하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery-block gallery-front;" style="padding:30px;">
            <div class="container">
                <h4 style="font-weight:bold; color:#ff4157; text-align:left; text-decoration:underline; margin-left:15px;">
                    호텔 코치 팩
                </h4><br />
                <div class="row" style="margin:0">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 런던-로마 21일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/01. 마이럭셔리 유럽 런던_로마_c.jpg">
                        </div>
                        <div>
                            <a href="/upload/01_Hotelpack_My_Luxury_Europe_20Days_[London_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 파리-로마 19일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/02. 마이럭셔리 유럽 파리_로마_c.jpg">
                        </div>
                        <div>
                            <a href="/upload/02_Hotelpack_My_Luxury_Europe_18Days_[Paris_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 마르세이유-로마 17일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/03. 마이럭셔리 유럽 마르세유_로마_c.jpg">
                        </div>
                        <div>
                            <a href="/upload/03_Hotelpack_My_Luxury_Europe_16Days_[Marseille_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 니스-로마 15일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/04. 마이럭셔리 유럽 니스_로마_c.jpg">
                        </div>
                        <div>
                            <a href="/upload/04_Hotelpack_My_Luxury_Europe_14Days_[Nice_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 유럽 밀란-로마 12일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/05. 마이럭셔리 유럽 밀란_로마_c.jpg">
                        </div>
                        <div>
                            <a href="/upload/05_Hotelpack_My_Luxury_Europe_11Days_[Milan_Rome]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div>
                            <h5 style="font-weight:bold;">마이 럭셔리 이탈리아 8일</h5>
                        </div>
                        <div class="gallery-image">
                            <img class="img-responsive" src="/images/Brochures/06. 마이럭셔리 유럽 이탈리아_c.jpg">
                        </div>
                        <div>
                            <a href="/upload/06_Hotelpack_My_Luxury_Europe_7Days_[Rome_South Italy_Capri]kr.pdf" target="_blank" class="read-more-btn btn-size"><i class="fa fa-eye"></i>브로슈어 보기</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
                        <div style="margin-top:140px;">
                            <a style="color:white" class="book-now-btn" href="/Shop/Index"><i class="fa fa-arrow-left"></i>&nbsp;구매하기</a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        @*<div class="row">
            <div class="col-md-8">
                <div class="col-md-3 col-sm-3 col-xs-12 brochures" style="text-align:center;">
                    <div>
                        <h4 style="font-weight:bold;">LONDON TO ROME</h4>
                    </div>
                    <div class="brochures-img" style="background-image:url('/images/room1.png');">

                    </div>
                    <div>
                        <a class="read-more-btn btn-size"><i class="fa fa-eye"></i>VIEW BROCHURE</a>
                    </div>
                </div>
                <div class="col-md-3 brochures" style="text-align:center;">
                    <div>
                        <h4 style="font-weight:bold;">PARIS TO ROME</h4>
                    </div>
                    <div class="brochures-img" style="background-image:url('/images/room2.png');">

                    </div>
                    <div>
                        <a class="read-more-btn btn-size"><i class="fa fa-eye"></i>VIEW BROCHURE</a>
                    </div>
                </div>
                <div class="col-md-3 brochures" style="text-align:center;">
                    <div>
                        <h4 style="font-weight:bold;">MARSEILLE TO ROME</h4>
                    </div>
                    <div class="brochures-img" style="background-image:url('/images/room3.png');">

                    </div>
                    <div>
                        <a class="read-more-btn btn-size"><i class="fa fa-eye"></i>VIEW BROCHURE</a>
                    </div>
                </div>
                <div class="col-md-3 brochures" style="text-align:center;">
                    <div>
                        <h4 style="font-weight:bold;">NICE TO ROME</h4>
                    </div>
                    <div class="brochures-img" style="background-image:url('/images/room4.png');">

                    </div>
                    <div>
                        <a class="read-more-btn btn-size"><i class="fa fa-eye"></i>VIEW BROCHURE</a>
                    </div>
                </div>
                <div class="col-md-3 brochures" style="text-align:center;">
                    <div>
                        <h4 style="font-weight:bold;">MILAN TO ROME</h4>
                    </div>
                    <div class="brochures-img" style="background-image:url('/images/room1.png');">

                    </div>
                    <div>
                        <a class="read-more-btn btn-size"><i class="fa fa-eye"></i>VIEW BROCHURE</a>
                    </div>
                </div>
                <div class="col-md-3 brochures" style="text-align:center;">
                    <div>
                        <h4 style="font-weight:bold;">ITALIAN SHOW CASE</h4>
                    </div>
                    <div class="brochures-img" style="background-image:url('/images/room2.png');">

                    </div>
                    <div>
                        <a class="read-more-btn btn-size"><i class="fa fa-eye"></i>VIEW BROCHURE</a>
                    </div>
                </div>*@





    </div>

</div>

<style>
    .ori {
        border: solid 0.5px #b0b0b0;
    }

    .gallery-image {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 5px;
    }

    .btn-size {
        font-size: 0.75em;
        margin-bottom: 30px;
    }
</style>