@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header_ko.cshtml")
<!--Shop/Index-->
<div id="myCarousel1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel1" data-slide-to="1"></li>
        <li data-target="#myCarousel1" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="/images/Carousel/ca1.jpg" style="width:100%; height: 500px" alt="First slide">
            <div class="carousel-caption">
                <h1>SuperTalent Trip<br> Beauty & Luxury</h1>
            </div>
        </div>
        <div class="item">
            <img src="/images/Carousel/ca2.jpg" style="width:100%; height: 500px" alt="Second slide">
            <div class="carousel-caption">
                <h1>SuperTalent Trip<br> Safety & Comfortable</h1>
            </div>
        </div>
        <div class="item">
            <img src="/images/Carousel/ca3.jpg" style="width:100%; height: 500px" alt="Third slide">
            <div class="carousel-caption">
                <h1>SuperTalent Trip<br> Influencer & Communication</h1>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="/images/icons/left-arrow.png" onmouseover="this.src = '/images/icons/left-arrow-hover.png'" onmouseout="this.src = '/images/icons/left-arrow.png'" alt="left"></a>
    <a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="/images/icons/right-arrow.png" onmouseover="this.src = '/images/icons/right-arrow-hover.png'" onmouseout="this.src = '/images/icons/right-arrow.png'" alt="left"></a>

</div>
<div>
    <div class="row" style="margin:0">
        <div class="col-md-2"></div>
        <div class="col-md-8 row" style="margin:0">
            <div class="col-md-6" style="padding:30px">
                <div class='embed-container'>
                    <iframe style="width:100%; height:320px" src='https://www.youtube.com/embed/2JTPMCmfvbs' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    <div class="over_text" style="position:absolute;top:260px;left:30px; width:400px;height:100px;">
                        <h3 style="color:white; opacity:0.8">
                            LUXURY TRAVEL WITH<br />
                            360 ENTERTAINMENT<br />
                        </h3>
                        <h4 style="color:white; opacity:0.8">SUPERTALENT TRIP 2019</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6" style="padding:30px">
                <h2 style="font-weight:bold">
                    360 엔터테인먼트와 함께하는 럭셔리 여행
                </h2><br />
                <p style="word-break:keep-all;">
                    슈퍼탤런트 오브 더 월드는 봄에는 아시아에서, 가을에는 유럽에서 개최하는 슈퍼모델, 팝 아티스트, 영화배우, 댄싱챔피언을 선발하는 텔레비전 포멧의 글로벌 리얼리티 오디션 프로그램입니다.<br /> 유닛인 슈퍼탤런트 패션 위크는 에펠탑, 융프라우 등 유명한 관광지의 공간을 패션 장소로 연출하는 전 세계 패션디자이너들을 위한 패션 쇼 케이스입니다.<br />
                    슈퍼탤런트 스타들은 로레알, 엘르, 보그 등의 뷰티, 패션, 잡지 모델, 배우, 가수로 활동하며 런던, 파리, 밀란 등 패션 위크와 칸, 베니스, 베를린 등 영화제에 글로벌 셀럽으로 활동하고 있습니다.<br /> 스타들은 인스타그램, 페이스북, 유투버 등 최소 10만명 이상의 인플루언서들로 유럽의 눈부신 경관, 신비한 전설, 오리지널 콘텐츠를 제작하여 전 세계와 공유하고 소통합니다.
                </p>
                <br /><br />
                <div>
                    <text style="color:#185dff">트립에 참가하는 모든 분들에게는 아시아 태평양 최대 피부 프랜차이징 본사인 오라클메디컬그룹에서 30만원 상당의 "코스메틱 리에이젠 세트"를 무료로 제공합니다.</text>
                </div>
                <div class="row" style="margin:0">
                   <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="/Shop/product_ko" style="border:2px solid; border-radius:15px; padding:10px; padding-left:20px; padding-right:20px" class="read-more-btn">상품 보기</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin:0">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 style="font-weight:bold; text-align:center;">
                럭셔리 엔터테인먼트를 위한 그룹여행, 슈퍼탤런트트립
            </h2><br />

            <div class="col-md-4" style="padding:30px">
                <div style="background-image:url(/images/Shop/shop1.jpg); height:180px; position:relative; background-size:cover">
                    <div class="in-text">
                        <h4>럭셔리 민주주의</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding:30px">
                <div style="background-image:url(/images/Shop/shop2.jpg); height:180px; position:relative; background-size:cover">
                    <div class="in-text">
                        <h4>오리지널 프로그램</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding:30px">
                <div style="background-image:url(/images/Shop/shop3.jpg); height:180px; position:relative; background-size:cover">
                    <div class="in-text">
                        <h4>다국적 운영 프로그램</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding:30px">
                <div style="background-image:url(/images/Shop/shop4.jpg); height:180px; position:relative; background-size:cover">
                    <div class="in-text">
                        <h4>최상의 코스</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding:30px">
                <div style="background-image:url(/images/Shop/shop5.jpg); height:180px; position:relative; background-size:cover">
                    <div class="in-text">
                        <h4>최상의 안전</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding:30px">
                <div style="background-image:url(/images/Shop/shop6.jpg); height:180px; position:relative; background-size:cover">
                    <div class="in-text">
                        <h4>글로벌 인플루언서</h4>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>



<script>
    function disappear() {
        console.log("disappear");
        $('.over_text').addClass("dis-none");
    }
</script>

<style>
    .dis-none {
        display: none;
    }

    .in-text {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 65, 87, 0.6);
        color: white;
        font-size: 0.75em;
        padding: 5px;
        width: 100%;
    }

    @@media (max-width: 767px) {
        #myCarousel1 .carousel-caption {
            display: none;
        }
    }
    </style >
