<!--Template Name: vacayhome
File Name: home.html
Author Name: ThemeVault
Author URI: http://www.themevault.net/
License URI: http://www.themevault.net/license/-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icons/favicon.png" />
    <title>SUPER TALENT OF THE WORLD.</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/fontawesome-free-5.10.1-web/css/all.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/summernote.css" rel="stylesheet" />
    <link href="/css/userstyle.css" rel="stylesheet" />



    <script src="/fontawesome-free-5.10.1-web/js/all.min.js"></script>
    <script src="/js/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="/js/custom.js" type="text/javascript"></script>
    <script src="/summernote.js"></script>
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/modernizr.custom.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148356962-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148356962-1');
    </script>


</head>
<body>

    <div id="header">
    </div>
    <div>
        @RenderBody()
    </div>
    <div id="footer">
        @{ Html.RenderAction("Footer", "Layout");}
    </div>

    <script type="text/javascript">

        function change_lang() {
            if ($('#sel_lang').val() == 'en') {
                location.href = "/Home/Index";

            } if ($('#sel_lang').val() == 'ko') {
                location.href = "/Home/Index_ko";
            }
        }
    </script>

    <style>
        .remove_header {
            display: none;
        }

        #nav_shop_over {
            position: absolute;
            width: 100%;
            z-index: 9999;
            right: 0;
            top: 15px;
            display: none;
        }

        .nav1 li:nth-child(5):hover #nav_shop_over {
            display: block;
        }

        @@media (max-width:767px) {
            #nav_shop_over {
                display: block;
                position: relative;
                top: 0;
            }
        }

        @@font-face {
            font-family: 'Noto-SansCJKR-Regular';
            src: url('/fonts/Noto-SansCJKR-Regular.woff') format('woff');
        }

        @@font-face {
            font-family: 'Noto-SansCJKR-Regular';
            src: url('/fonts/Noto-SansCJKR-Regular.ttf') format('truetype');
        }

        body {
            font-family: 'Noto-SansCJKR-Regular';
            font-size: 1.4rem;
            line-height: 1.6rem;
        }
    </style>

</body>

</html>
